<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Profile</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form action="/reset-password" method="post">
    
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" required>
    
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword">
      
    <input type="submit" value="Save">
</form>

</body>
</html>
